body {
    background-color: #858b97;
}

.container {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    margin-top: 50px;
}

.calc-container {
    width: 350px;
    border-radius: 7px;
    border-style: solid;
}

.display {
    width: 330px;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 20px 10px;
    background-color: rgb(46, 45, 45);
}

.btn-container {
    width: 100%;
    height: 395px;
    background-color: black;
}

h2 {
    padding-right: 20px;
    font-size: 48px;
    font-family: 'Dosis', sans-serif;
    color: white;
}


/* div {
    border-style: solid;
    border-width: 1px;
    border-color: white;
} */

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 77px;
}

.btn-number {
    background-color: #303030;
    color: #8d8d8d;
    font-weight: bold;
}

.btn-operand {
    background-color: #F18D05;
    color: #f2dec6;
    font-weight: bold;
}

.btn-utility {
    background-color: #9d9d9d;
}

.btn {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 24px;
    border: none;
}

.btn.btn-0 {
    width: 150px;
    border-radius: 25px;
}

.selected {
    background-color: #f2dec6;
    color: #F18D05;
}